.CreateTodoButton{
  background-color:rgb(255, 192, 114);
  box-shadow: 0px 5px 25px rgba(250, 138, 97, 0.5);
  color: aliceblue;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  position: fixed;
  bottom: 24px;
  right: 24px;
  font-size: 50px;
  font-weight: bold;
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(0);
  transition: 0.3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(190deg);
}
